body{
    font-family:  'Montserrat', sans-serif;
}

.wrapper {
    width: 1200px;
    margin: 0 auto; 
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.img-hotel{
    width: 400px;
    height: 250px;
    padding: 10px;
    float: left;
    border-radius: 20px;
    margin-top: 5px;
}

h2{
    margin:0px;
    margin-top: 20px;
    margin-right: 20px;
}

h5{
    margin: 2px;
    margin-top: 10px;
}

p{
    margin: 0;
    margin-top: 10px;
}

/* Header */

.encabezado{
    background-color: #F4A24C;
    margin-bottom: 0px;
}

.encabezado-logo{
    width: 25%;
    float: left;
    margin-left: 50px;
}

.logo-tralapa{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.encabezado-buscador{
    float: right;
    margin-right: 10%;
}

.buscador-search{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 23px;
    padding: 1px 15px;
    border-radius: 100px;
}

.buscador-search:focus{
    outline: none;
}

.buscador-submit{
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    position: relative;
    top: 10px;
    width: 25px;
}
.usuario-encabezado{
    width: 25px;
}
.buscador-submit:focus{
    outline: none;
}

.buscador-submit:hover{
    background-color: #d67710;
    border-radius: 100px;
}

.encabezado-buscador img{
    padding-top: 5px;
    padding-right: 25px;
    padding-bottom: 5px;
    padding-left: 25px;
    position: relative;
    top: 10px;
}

.encabezado-buscador img:hover{
    background-color: #d67710;
    border-radius: 100px;
}

/* Banner */
#landtours-banner{
    width: 1200px;
}

/* Imagen de Ubicación */

.location{
    width: 16px;
    height: 16px;
    float: left;
}

/* Imagen de las 5 Estrellas */

#star1{
    width: 80px;
    height: 16px;
    padding: 0;
    left: 185px;
    margin-top: -100px;
}

#star2{
    width: 80px;
    height: 16px;
    padding: 0;
    margin-top: -22px;
    left: 510px;
}

#star3{
    width: 80px;
    height: 16px;
    padding: 0;
    margin-top: -22px;
    left: 460px;
} 

/* Botones de "Saber mas" */

.button{
    margin: 0 auto;
    margin-top: 43px;
    width: 120px;
    height: 45px;
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    margin-left: 620px;
    font-size: 1rem;
}

.button:hover{
    background-color: #DD7649;
    color: black;
    border: 0;
}
#button-sabermas{
    margin: 0 auto;
    margin-top: 30px;
    width: 120px;
    height: 45px;
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    margin-left: 620px;
    font-size: 1rem;
}

#button-sabermas:hover{
    background-color: #DD7649;
    color: black;
    border: 0;
}
#button-sabermashoteles{
    width: 160px;
    height: 50px;
    margin-left:510px;
    color: white;
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    border: 0;
    font-size: 1rem;
}

#button-sabermashoteles:hover{
    background-color: #DD7649;
    color: black;
    border: 0;
}

/* Parrafo de Reservado hace.. */

.reservation{
    color:red;
}

/* Cajas de Informacion */

.box1 {
    border: 1.5px solid #000;
    padding: 0px 0% 2% 0%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.box2{
    border: 1.5px solid #000;
    padding: 0px 0% 2% 0%;
    margin-bottom: 10px;
    border-radius: 20px;
}

.box3{
    border: 1.5px solid #000;
    padding: 0px 0% 1.9% 0%;
    margin-bottom: 60px;
    border-radius: 20px;
}

/* Footer */

.footer{
    display: block;
    margin: auto;
    background-color: #CCCCCC;
    padding-top: 20px;
    padding-bottom: 200px;
}

.informacion-footer{
    color: black;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 45%;
    float: left;
    padding-top: 50px;
    margin-left: 100px;
}

.imagenes-parque{
    float: right;
    margin-right: 12%;
    padding-top: 50px;
}

/* Ubicacion de la Pagina */

.ubicacion-pagina a {
    float:left;
    text-decoration: none;
}

.ubicacion-pagina a {
    color:#000;
    margin-right: 5px;
}

.navegation {
    margin-left: 50px;
}

.active {
    color: #F4A24C;
}

.active:hover{
    color: #DD7649;
    text-decoration: underline;
}

